body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
}

.foto-perfil img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.foto-perfil button,
.info-perfil button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.info-perfil {
    margin-left: 20px;
}

.atividades {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
}

.atividades ul {
    list-style: none;
    padding: 0;
}

.atividades li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

